<div class="{{flip_side}} store-side">
    <div class="row store-heading">
        <div class="span5">
             <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="span3 bs-wizard-step active" data-bs-wizard-step="1">
                    <div class="text-center bs-wizard-stepnum">Shop</div>
                    <div class="progress"><div class="bar"></div></div>
                    <a class="bs-wizard-dot"></a>
                </div>
                
                <div class="span3 bs-wizard-step disabled" data-bs-wizard-step="2">
                    <div class="text-center bs-wizard-stepnum">Confirm</div>
                    <div class="progress"><div class="bar"></div></div>
                    <a class="bs-wizard-dot"></a>
                </div>
                
                <div class="span3 bs-wizard-step disabled" data-bs-wizard-step="3">
                    <div class="text-center bs-wizard-stepnum">Checkout</div>
                    <div class="progress"><div class="bar"></div></div>
                    <a class="bs-wizard-dot"></a>
                </div>
            </div>
        </div>
        <div class="span3">
            <button class="btn btn-large dogetoggle">
                {{#if usd}}
                    <img src="{{retina '/assets/img/template/checkout_doge_button.png'}}" width="146" height="50" />
                {{else}}
                    <img src="{{retina '/assets/img/template/checkout_usd_button.png'}}" width="146" height="50" />
                {{/if}}
            </button>
        </div>
    </div>
    <div class="store-slide-container">
        <div class="row store-slide" data-store-slide="1">
            <div class="span4">
                <div class="storeContainer">
                    <div class="split pull-left">
                        <img src="{{retina '/assets/img/template/checkout_jars.png'}}" width="207" height="268" />
                    </div>
                    <div class="split pull-right">
                        <p class="description">Delicious peanut butter. Put it in your face and do stuff! It tastes good and I'm writing words.</p>
                        <p class="lead"><strong>{{formatPrice '4.99'}} </strong> <br /> Per 8oz Jar</p>
                        <p>+ {{formatPrice '6.75'}} Shipping to Contiguous US</p>
                    </div>
                </div>
                <div class="storeContainer">
                    <form class="form-horizontal checkout checkout-normal" method="POST">
                        <div class="split pull-left">
                            <div class="control-group single-control">
                                <div class="control-split">
                                    <label class="control-label" for="inputQuantity">Quantity:</label>
                                    <div class="controls">
                                        <select name="inputQuantity">
                                            <option></option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="split pull-right">
                            <button class="btn btn-large btn-warning steembtn checkoutbtn" data-payment-method="{{payment_method}}">Buy Me</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="span4 special">
                <div class="storeContainer">
                    <div class="split pull-left">
                        <img class="img-special" src="{{retina '/assets/img/template/checkout_valuemeal_aubergine.png'}}" width="207" height="268" />
                    </div>
                    <div class="split pull-right">
                        <p class="description">A limited edition STEEM T-Shirt so you can do stuff and advertise us for free all at once!</p>
                        <p class="lead"><strong>{{formatPrice '19.99'}}</strong> <br /> 2 8oz Jars + Shirt</p>
                        <p>+ Free Shipping to Contiguous US</p>
                    </div>
                </div>
                <div class="storeContainer">
                    <form class="form-horizontal checkout checkout-special" method="POST">
                        <div class="split pull-left">
                            <div class="control-group double-control">
                                <div class="control-split">
                                    <label class="control-label" for="inputColor">Color:</label>
                                    <div class="controls">
                                        <select name="inputColor">
                                            <option value="aubergine">Aubergine</option>
                                            <option value="navy">Navy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-split">
                                    <label class="control-label" for="inputSize">Size:</label>
                                    <div class="controls">
                                        <select name="inputSize">
                                            <option>Small</option>
                                            <option>Medium</option>
                                            <option>Large</option>
                                            <option>X-Large</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="split pull-right">
                            <button class="btn btn-large btn-warning steembtn">Buy Me</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row store-slide" data-store-slide="2">
            <div class="span4">
                <div class="storeContainer">
                    <h3>Shipping Details</h3>
                    <form class="form-horizontal shipping" method="POST">
                        <div class="control-group">
                            <label class="control-label" for="inputName">Name</label>
                            <div class="controls">
                                <input class="input-xlarge" type="text" name="inputName" required placeholder="Recipient Name">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Email</label>
                            <div class="controls">
                                <input class="input-xlarge" type="text" name="inputEmail" required placeholder="Email Address">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputStreetLine1">Line 1</label>
                            <div class="controls">
                                <input class="input-xlarge" type="text" name="inputStreetLine1" required placeholder="Line1">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputStreetLine2">Line 2</label>
                            <div class="controls">
                                <input class="input-xlarge" type="text" name="inputStreetLine2" placeholder="Line2">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputCity">City</label>
                            <div class="controls">
                                <input class="input-xlarge" type="text" name="inputCity" required placeholder="City">
                            </div>
                        </div>
                        <div class="split pull-left">
                            <div class="control-group">
                                <label class="control-label" for="inputState">State</label>
                                <div class="controls">
                                    <input class="input-mini" maxlength="2" type="text" name="inputState" required placeholder="State">
                                </div>
                            </div>
                        </div>
                        <div class="split pull-left">
                            <div class="control-group">
                                <label class="control-label" for="inputPostalCode">Zip Code</label>
                                <div class="controls">
                                    <input class="input-small" type="text" name="inputPostalCode" required placeholder="Zip Code">
                                </div>
                            </div>
                        </div>
                        <a class="international-shipping-info" data-toggle="popover" data-placement="top" data-title="Shipping Only to the US" data-html="true">Shipping outside the US?</a>
                    </form>
                </div>
            </div>
            <div class="span4 summary-container">
                <h3>Order Summary</h3>
                <dl class="dl-horizontal store-summary">
                    

                </dl>



                <button class="btn btn-large btn-warning steembtn">Checkout with {{checkoutService}}</button>
            </div>
        </div>
    </div>
</div>