                    <dt>
                         {{item_name}} ({{item_quantity}})
                         <br />
                         <a class="cart-edit-link">Edit Items</a>
                    </dt>
                    <dd>
                         {{formatPrice item_subtotal}}
                         <br />
                         &nbsp;
                    </dd>

                    <dt>Shipping</dt>
                    <dd>{{formatPrice shipping_total}}</dd>

                    {{#each discounts}}
                    <dt class="discount">{{this.name}}</dt>
                    <dd class="discount">- {{formatPrice this.value}}</dd>
                    {{/each}}

                    {{#unless discounts}}
                    <dt>Discounts</dt>
                    <dd><button class="btn btn-mini btn-warning steembtn">Add promo code</button></dd>
                    {{/unless}}

                    <hr />

                    <dt class="total">Total</dt>
                    <dd class="total">{{formatPrice total}}</dd>