                    <dt>
                         {{item_name}} ({{item_quantity}})
                         <br />
                         <a class="cart-edit-link">Edit Items</a>
                    </dt>
                    <dd>
                         {{formatPrice item_subtotal}}
                         <br />
                         &nbsp;
                    </dd>

                    <dt>Shipping</dt>
                    <dd>{{formatPrice shipping_total}}</dd>

                    {{formatDiscounts discounts}}

                    {{#each rejected_discounts}}
                         <div class="discount-rejected">
                              <strong>{{this.code}}</strong>
                              {{#if this.reason}}
                                   {{this.reason}}
                              {{else}}
                                   Unable to verify promo code.
                              {{/if}}
                         </div>
                    {{/each}}

                    <dt class="promo-placeholder">&nbsp;</dt>
                    <dd><button class="btn btn-mini promo-codes">Add promo code</button></dd>

                    <hr />

                    <dt class="total">Total</dt>
                    <dd class="total">{{formatPrice total}}</dd>