<div class="{{flip_side}} store-side">
    <div class="row store-heading">
        <div class="span5">
             <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="span3 bs-wizard-step active first-step" data-bs-wizard-step="1">
                    <div class="text-center bs-wizard-stepnum">Shop</div>
                    <div class="progress"><div class="bar"></div></div>
                    <a class="bs-wizard-dot"></a>
                </div>
                
                <div class="span3 bs-wizard-step disabled" data-bs-wizard-step="2">
                    <div class="text-center bs-wizard-stepnum">Confirm</div>
                    <div class="progress"><div class="bar"></div></div>
                    <a class="bs-wizard-dot"></a>
                </div>
                
                <div class="span3 bs-wizard-step disabled last-step" data-bs-wizard-step="3">
                    <div class="text-center bs-wizard-stepnum">Checkout</div>
                    <div class="progress"><div class="bar"></div></div>
                    <a class="bs-wizard-dot"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="store-slide-container">
        <div class="row store-slide" data-store-slide="1">
            <div class="span4">
                <div class="storeContainer">
                    <div class="split pull-left">
                        <img id="jar-img" src="{{retina '/assets/img/template/checkout_jars.png'}}" width="207" height="268" />
                    </div>
                    <div id="jar-details" class="split pull-right">
                        <p id="jar-description" class="description">Delicious peanut butter. Put it in your face and do stuff! It tastes good and I'm writing words.</p>
                        <p id="jar-price" class="lead"><strong>{{formatPrice '4.99'}} </strong> <br /> Per 8oz Jar</p>
                        <p id="jar-shipping">+ {{formatPrice '6.75'}} flat-rate Shipping to Contiguous US</p>
                    </div>
                </div>
                <div class="storeContainer">
                    <form class="form-horizontal checkout checkout-normal" method="POST">
                        <div class="split pull-left">
                            <div class="control-group single-control">
                                <div class="control-split">
                                    <label class="control-label" for="inputQuantity">Quantity:</label>
                                    <div class="controls">
                                        <select name="inputQuantity">
                                            <option></option>
                                            <option value="1">1 Jar</option>
                                            <option value="2">2 Jars</option>
                                            <option value="3">3 Jars</option>
                                            <option value="4">4 Jars</option>
                                            <option value="12">Case (12 jars)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="split pull-right">
                            <button class="btn btn-large btn-warning steembtn checkoutbtn" data-payment-method="{{payment_method}}">Buy Me</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="span4 special">
                <div class="storeContainer">
                    <div class="split pull-left">
                        <img class="img-special" src="{{retina '/assets/img/template/checkout_valuemeal_navy.png'}}" width="207" height="268" />
                    </div>
                    <div class="split pull-right">
                        <p class="description">A limited edition STEEM T-Shirt so you can do stuff and advertise us for free all at once!</p>
                        <p class="lead"><strong>{{formatPrice '19.99'}}</strong> <br /> 2 8oz Jars + Shirt</p>
                        <p>+ Free Shipping to Contiguous US</p>
                    </div>
                </div>
                <div class="storeContainer">
                    <h3>Sold out!</h3>
                </div>
            </div>
        </div>

        <div class="row store-slide" data-store-slide="2">
            <div class="span4">
                <div class="storeContainer">
                    <h3>Shipping Details</h3>
                    <form class="form-horizontal shipping" method="POST">
                        <div class="control-group">
                            <label class="control-label" for="inputName">Name</label>
                            <div class="controls">
                                <input class="input-xlarge" type="text" name="inputName" data-field-name="recipient_name" required placeholder="Recipient Name">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Email</label>
                            <div class="controls">
                                <input class="input-xlarge" type="text" name="inputEmail" data-field-name="email" required placeholder="Email Address">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputType">Type</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="inputType" data-field-name="type" value="RESIDENTIAL" checked> Residential
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="inputType" data-field-name="type" value="COMMERCIAL"> Commercial
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputStreetLine1">Address</label>
                            <div class="controls">
                                <input class="input-xlarge" type="text" name="inputStreetLine1" data-field-name="line1" required placeholder="Address">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputStreetLine2">Apt/Suite</label>
                            <div class="controls">
                                <input class="input-xlarge" type="text" name="inputStreetLine2" data-field-name="line2" placeholder="Apt/Suite">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputCity">City</label>
                            <div class="controls">
                                <input class="input-xlarge" type="text" name="inputCity" data-field-name="city" required placeholder="City">
                            </div>
                        </div>
                        <div class="split pull-left">
                            <div class="control-group">
                                <label class="control-label" for="inputState">State</label>
                                <div class="controls">
                                    <select name="inputState" data-field-name="state" required>
                                        <option disabled selected hidden></option>
                                        <option value="AL">Alabama</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="CA">California</option>
                                        <option value="CO">Colorado</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="DC">DC</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="ID">Idaho</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IN">Indiana</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NV">Nevada</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="OH">Ohio</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="OR">Oregon</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="TX">Texas</option>
                                        <option value="UT">Utah</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WA">Washington</option>
                                        <option value="WV">West Virginia</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="WY">Wyoming</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="split pull-left">
                            <div class="control-group">
                                <label class="control-label" for="inputPostalCode">Zip Code</label>
                                <div class="controls">
                                    <input class="input-small" type="text" name="inputPostalCode" data-field-name="postal_code" required placeholder="Zip Code">
                                </div>
                            </div>
                        </div>
                        <a class="international-shipping-info" data-toggle="popover" data-placement="top" data-title="Shipping Outside the US" data-html="true">Shipping outside the US?</a>
                    </form>
                </div>
            </div>
            <div class="span4 summary-container">
                <h3>Order Summary</h3>
                <dl class="dl-horizontal store-summary"></dl>

                <button class="btn btn-large btn-warning confirm-checkout-btn steembtn">Checkout with {{checkoutService}}</button>
                <p class="shipping-time-message">Orders placed today will be shipped within two to three weeks. <br />Don't worry, we've got <em>plenty</em> of energy.</p>
            </div>
        </div>

        <div class="row store-slide checkout-status" data-store-slide="3">
            
        </div>
    </div>
</div>