<div class="{{flip_side}} store-side">
    <div class="row">
        <div class="span3 offset6">
            <button class="btn btn-large dogetoggle">
                {{#if usd}}
                    <img src="{{retina '/assets/img/template/checkout_doge_button.png'}}" width="146" height="50" />
                {{else}}
                    <img src="{{retina '/assets/img/template/checkout_usd_button.png'}}" width="146" height="50" />
                {{/if}}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="storeContainer">
                <div class="split pull-left">
                    <img src="{{retina '/assets/img/template/checkout_jars.png'}}" width="207" height="268" />
                </div>
                <div class="split pull-right">
                    <p class="description">Delicious peanut butter. Put it in your face and do stuff! It tastes good and I'm writing words.</p>
                    <p class="lead"><strong>{{formatPrice '4.99'}} </strong> <br /> Per 8oz Jar</p>
                    <p>+ {{formatPrice '6.75'}} Shipping to Contiguous US</p>
                </div>
            </div>
            <div class="storeContainer">
                <form class="form-horizontal checkout" method="POST">
                    <div class="split pull-left">
                        <div class="control-group single-control">
                            <div class="control-split">
                                <label class="control-label" for="inputQuantity">Quantity:</label>
                                <div class="controls">
                                    <select name="inputQuantity">
                                        <option></option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="split pull-right">
                        <button class="btn btn-large btn-warning steembtn checkoutbtn" data-payment-method="{{payment_method}}">Buy Me</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="span4 special">
            <div class="storeContainer">
                <div class="split pull-left">
                    <img src="{{retina '/assets/img/template/checkout_valuemeal.png'}}" width="207" height="268" />
                </div>
                <div class="split pull-right">
                    <p class="description">A limited edition STEEM T-Shirt so you can do stuff and advertise us for free all at once!</p>
                    <p class="lead"><strong>{{formatPrice '19.99'}}</strong> <br /> 2 8oz Jars + Shirt</p>
                    <p>+ Free Shipping to Contiguous US</p>
                </div>
            </div>
            <div class="storeContainer">
                <form class="form-horizontal checkout-special" method="POST">
                    <div class="split pull-left">
                        <div class="control-group double-control">
                            <div class="control-split">
                                <label class="control-label" for="inputQuantity">Color:</label>
                                <div class="controls">
                                    <select>
                                        <option>Aubergine</option>
                                        <option>Navy</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-split">
                                <label class="control-label" for="inputQuantity">Size:</label>
                                <div class="controls">
                                    <select>
                                        <option>Small</option>
                                        <option>Medium</option>
                                        <option>Large</option>
                                        <option>X-Large</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="split pull-right">
                        <button class="btn btn-large btn-warning steembtn">Buy Me</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>